<div class="container" id="i18_publications">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="publications.my_publications">Publications</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for publications in site.data.index.publications %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon {% if publications.present ==  true %} navy-bg-present {% else %} navy-bg {% endif %} wow rotateIn">
                        <i class="fa {{ publications.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <h2><span data-i18n="publications.{{ publications.title.i18n }}">{{ <a href="{{publications.url }}">publications.title</a> }}</span></h2>
                        <p><span data-i18n="publications.{{ publications.venue.i18n }}">{{ publications.venue }} </span></p>
                        <p><span data-i18n="publications.{{ publications.authors.i18n }}">{{ publications.authors }} </span></p>
                        <span class="vertical-date"><span data-i18n="publications.{{ publications.year.i18n }}"> {{ publications.year }} </span>
                        <br/> <small><span data-i18n="publications.{{ publications.year.i18n }}">{{ publications.year.detail }}</span></small> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
